{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Statblock{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" required>

        <label for="might">Might</label>
        <input name="might" id="might">

        <label for="edge">Edge</label>
        <input name="edge" id="edge">

        <label for="grit">Grit</label>
        <input name="grit" id="grit">

        <label for="might">Might</label>
        <input name="might" id="might">
    </form>
{% endblock %}