{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Statblock{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="might">Might</label>
        <input type="number" name="might" id="might">

        <label for="edge">Edge</label>
        <input type="number" name="edge" id="edge">

        <label for="grit">Grit</label>
        <input type="number" name="grit" id="grit">

        <label for="wits">Wits</label>
        <input type="number" name="wits" id="wits">

        <input type="submit" value="Create">
    </form>
{% endblock %}