{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create Statblock{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="might">Might</label>
        <input type="number" name="might" id="might">

        <label for="edge">Edge</label>
        <input type="number" name="edge" id="edge">

        <label for="grit">Grit</label>
        <input type="number" name="grit" id="grit">

        <label for="wits">Wits</label>
        <input type="number" name="wits" id="wits">

        <br/>

        <label for="physical_defence">Physical Def.</label>
        <input type="number" name="physical_defence" id="physical_defence">

        <label for="sorcery_defence">Sorcery Def.</label>
        <input type="number" name="sorcery_defence" id="sorcery_defence">

        <label for="life_points">Life Points</label>
        <input type="number" name="life_points" id="life_points">

        <label for="stamina_points">Stamina Points</label>
        <input type="number" name="stamina_points" id="stamina_points">

        <label for="flex_die">Flex Die</label>
        <select name="flex_die" id="flex_die">
            <option value="1d6">1d6</option>
            <option value="2d6">2d6</option>
        </select>

        <input type="submit" value="Create">
    </form>
{% endblock %}