{% extends 'base.html' %}

{% block header %}
    <h1>{{ g.statblock['name'] }}</h1>
{% endblock %}

{% block content %}

<p>Might: {{ g.statblock['might'] }}</p>
<p>Edge: {{ g.statblock['edge'] }}</p>
<p>Grit: {{ g.statblock['grit'] }}</p>
<p>Wits: {{ g.statblock['wits'] }}</p>
<p>Physical Def.: {{ g.statblock['physical_defence'] }}</p>
<p>Sorcery Def.: {{ g.statblock['sorcery_defence'] }}</p>
<p>Life: {{ g.statblock['life_points'] }}</p>
<p>Stamina: {{ g.statblock['stamina_points'] }}</p>
<p>Flex Die: {{ g.statblock['flex_die'] }}</p>


{% endblock %}